.pickering-yt-shorts-card
{
    display: flex;
    flex-direction: column;
    max-width: 172px;
    margin-right: 16px;
    position: relative;
    text-decoration: none;
    color: unset;
    
    *
    {
        text-decoration: none;
        text-transform: none;
        
    }
    .close
    {
        all: unset;
        position: absolute;
        margin: 4px;
        right: 0;
        background-color: var(--yt-spec-static-overlay-background-heavy);
        border-radius: 4px;
        color: var(--yt-spec-static-brand-white);
        font-size: var(--yt-badge-font-size,1.2rem);
        outline: unset;
        display: block;
        font-weight: var(--yt-badge-font-weight,500);
        font-family: Roboto, Arial, sans-serif;
        opacity: 0;
        padding:3px 4px;
        
    }
    img 
    {
        width: 172px;
        aspect-ratio: 9/16;
        border-radius: 8px;
        background-color: rgba(48, 48, 48, 0.184);
    }
    h2
    {
        padding-top: 12px;
        font-size: 1.6rem;
        font-weight: 500;
        color: var(--yt-spec-text-primary);
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    p 
    {
        font-size: 1.4rem;
        font-weight: 400;
        padding-top: 4px;
        color: var(--ytd-metadata-line-color, var(--yt-spec-text-secondary));
       
    }
    &:hover
    {
        .close 
        {
        opacity: 1;
        }
    }
    
}