.pickering-yt-shorts-card
{
    display: flex;
    flex-direction: column;
    max-width: 172px;
    margin-right: 16px;
    position: relative;
    text-decoration: none;
    color: unset;
    
    *
    {
        text-decoration: none;
        text-transform: none;
        
    }
    .close
    {
        all: unset;
        position: absolute;
        top: 8px;
        right: 8px;
        background-color: red;
        width: 16px;
        height: 16px;
        outline: unset;
        display: block;
        opacity: 0;
    }
    img 
    {
        width: 172px;
        aspect-ratio: 9/16;
        border-radius: 8px;
        background-color: rgba(48, 48, 48, 0.184);
    }
    h2
    {
        padding-top: 12px;
        font-size: 1.6rem;
        font-weight: 500;
        color: var(--yt-spec-text-primary);
        text-overflow: ellipsis;
        overflow: hidden;
        line-clamp: 2;
    }
    p 
    {
        font-size: 1.4rem;
        font-weight: 400;
        padding-top: 4px;
        color: var(--ytd-metadata-line-color, var(--yt-spec-text-secondary));
    }
    &:hover
    {
        .close 
        {
        opacity: 1;
        }
    }
    
}